# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# local slurm scripts
run/batch_scripts/

# data
*.jpg
*.txt
*.nc
*.pdf
*.ps
*.xyz
*.tif
